.banner{
  padding-top: 10px;
  width:100%;
  background-image: url('../images/index.png');
}

.quote{
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
  color: black;
  padding-left: 20px;
  border-left: 10px solid #fff;
}

.hide_column {
    display : none;
}

.bg-type1 {
    background-color: #FFFFBB !important;
}

.bg-type2 {
    background-color: #CCCCFF !important;
}

.bg-type3 {
    background-color: #FFB7DD !important;
}

.bg-type4 {
    background-color: #00FF99 !important;
}

.bg-type5 {
    background-color: #EE7700 !important;
}

.bg-type6 {
    background-color: #FFFFFF !important;
}

.table .thead-blue th {
color: #fff;
background-color: #8B4513;
border-color: #0d7adf;
}
