
{% extends "common/mybase.html" %}


{% block section1 %}

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-method="新增">新增</button>
<br></br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="jar-form">

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">類別</label>
            <select class="form-select" id="selectType" >
              <option value="0" selected>請選擇..</option>
              <option value="收入">收入</option>
              <option value="支出">支出</option>
            </select>
          </div>


          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">帳戶</label>
            <select class="form-select" id="selectJar" >
              <option value="0" selected>請選擇..</option>
              <option value="財務自由">財務自由</option>
              <option value="長期儲蓄">長期儲蓄</option>
              <option value="教育成長">教育成長</option>
              <option value="休閒玩樂">休閒玩樂</option>
              <option value="生活必須">生活必須</option>
              <option value="捐贈付出">捐贈付出</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">金額</span>
            <input type="text" class="form-control"  id="money" aria-label="必須是數字！！" >
            <span class="input-group-text">元</span>
          </div>

          <div class="input-group mb-3">
          <input type="date" class="form-control" id="date" name="date"   >
          </div>

          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"  ></textarea>
            <label for="floatingTextarea2">備註</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="confirm-change-btn" class="btn btn-confirm btn-primary">儲存</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>



<div class="table-responsive">
  <table class="table table-striped table-hover border-primary" id="myTable"> 
    <thead class="table-dark">
      <tr>
        <th scope="col" style="display: none;">ID</th>
        <th scope="col">類型</th>
        <th scope="col">帳戶</th>
        <th scope="col">日期</th>
        <th scope="col">金額</th>
        <th scope="col" >備註</th>
        <th scope="col">變更</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="display: none;">id1</td>
        <td>支出</td>
        <td>休閒玩樂</td>
        <td>2003-05-06</td>
        <td>1000</td>
        <td>備註</td>
        <td>
        <button type="button" class="btn btn-warning btnSelect" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-method="修改">修改</button>
        <button type="button" class="btn btn-danger btnSelect" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-method="刪除">刪除</button>
        </td>
      </tr>
      <tr>
        <td style="display: none;">id2</td>
        <td>收入</td>
        <td>財務自由</td>
        <td>1999-05-06</td>
        <td>200</td>
        <td>備註2</td>
        <td>
          <button type="button" class="btn btn-warning btnSelect" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-method="修改">修改</button>
          <button type="button" class="btn btn-danger btnSelect" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-method="刪除">刪除</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

