{% extends "common/mybase.html" %}

{% block section1 %}

{% include 'six_jar/jar_modal.html' %}

      <h3 class="text-primary "><b><--支出收入表--></b></h3>
<div style="border:1px blue dotted ;padding:15px 20px;">

<div class="container">
    <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" >類別</label>
        <select class="form-select" id="selectTypeForSearch" >
          <option value="" selected>請選擇..</option>
          <option value="收入">收入</option>
          <option value="支出">支出</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <label class="input-group-text" >帳戶</label>
        <select class="form-select" id="selectJarForSearch" >
          <option value="" selected>請選擇..</option>
          {% for jar in jar_name %}
            <option value={{ jar }}>{{ jar }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <label class="col-sm-2 control-label" style="text-align: center; margin-top:5px"><h4 class="text-primary">金額:</h4></label>

        <label class="col-sm-2 control-label" style="text-align: center; margin-top:5px">最小</label>
        <input type="number" class="form-control" id="minimum_money" min=1/>
        <label class="col-sm-2 control-label" style="text-align: center; margin-top:5px">最大</label>
        <input type="number" class="form-control" id="maximum_money" min=1/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <label class="col-sm-2 control-label" style="text-align: center; margin-top:5px"><h4 class="text-primary">日期:</h4></label>

        <label class="col-sm-2 control-label" style="text-align: center; margin-top:5px">最早</label>
        <input type="date" class="form-control" id="earliest_date" name="date" min="1900-01-01"  >
        <label class="col-sm-2 control-label" style="text-align: center; margin-top:5px">最晚</label>
        <input type="date" class="form-control" id="latest_date" name="date" min="1900-01-01">
      </div>
    </div>
  </div>
 <div class="row">
   <div class="col">
   </div>
   <div class="col">
   </div>
   <div class="col">
     <button class="btn btn-primary" id="search_btn" >查詢</button>
     <button class="btn btn-dark" id="clean_search_btn" >清空</button>
     <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#jarModal" data-bs-method="新增">新增</button>

   </div>
 </div>
</div>
</div>


  <div class="table-responsive">
    <div id="toolbar" class="toolbar"></div>
    <table id="table" data-ajax-options="ajaxOptions" ></table>

  </div>

{% endblock %}


{% block scripts %}
<script src="{{url_for('static', filename='/js/script.js')}}"></script>
{% endblock %}
