{% extends "common/mybase.html" %}

{% block section1 %}

<p>歡迎回來 !!!</p>
<h1 class="text-primary" >{{user_name}}</h1>
<div class="row row-cols-1 row-cols-md-6 g-4">
  {% for savings in savings_list %}
  <div class="col">
    <div class="card">
      <img src="/static/images/{{loop.index}}.png"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{savings.name}}</h5>
        <p class="card-text">{{savings.savings}}元</p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}

